/* @font-face {
  font-family: 'Roboto';
  src: url('addons/custom_export_contract/static/src/fonts/') format('truetype');
}

body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  color: #000;
}

h4 {
  font-weight: bold;
  text-transform: uppercase;
} */