body {
    font-family: Arial, sans-serif;
    margin: 0 30px;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    .text-blue {
        color: #3333ff;
    }
}


.header {
    margin: 0;
    padding: 0;

    .header-content {
        text-align: center;
        border-bottom: #c20e37 solid 2px;

        h2 {
            font-size: 20px;
            text-align: center;
            color: #c20e37;
            font-weight: 700;
            margin: 0;
        }

        p {
            font-size: 14px;
            color: #1f008f;
            margin: 0;
        }
    }

    .header-title {
        h2, span {
            font-family: 'Times New Roman', Times, serif;
            color: #3333ff;
            font-weight: 600;
            margin: 0;
        }
    }

}


.contract-report {
    .page {
        margin: 0 -60px;
    }

    .page h2 {
        font-size: 17px;
        font-weight: 600;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .page p {
        font-size: 15px;
        margin: 1px 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .represent {

    }

    .employee {

    }
}


    .footer {
        text-align: center;
        font-size: 12px;
        color: gray;
        margin-top: 20px;
        position: relative;
    }